{% extends 'base.html.twig' %}

{% block body %}
    <article>
       <h1>Chłop robotny...</h1>
        <p>
            Chłop robotny i baba pyskata zawojują pół świata.
        </p>
    </article>
{% endblock %}