{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <h1>Źródło: Wikicytaty </h1>
    <p>
        Choćbyś miał złota skrzynie, śmierci się nie wywiniesz.
    </p>
</article>
{% endblock %}