{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <p>
            Dlatego dwie uszy, jeden język dano, iżby mniej mówiono, a więcej słuchano.
        </p>
    </article>

{% endblock %}
