{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h1>Dobre lekarstwo...</h1>
    
    <p>
       Dobre lekarstwo jest gorzkie w ustach, ale skuteczne w chorobie.
    </p>
</article>
{% endblock %}
