{% extends 'base.html.twig' %}

{% block body %}
    
    <article>
        
        <h1>Gabrielu...</h1>
    
    <p>
        <h2>Gabrielu, przyjacielu, nie mroz nas, łysych jest wielu.</h2>
    </p>
     
    </article>
{% endblock %}