{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Przysłowie</h1>
        <p>
            Gdyby babcia miała wąsy, to by była dziadkiem.<br />
        </p>
    </article>
{% endblock %}