{% extends 'base.html.twig' %}

{% block body %}
    
    <article>
        
        <h1>Hilary zapowiada...</h1>
        
    <p>
        <h2>Hilary zapowiada, jaka pogoda w Wielkanoc przypada.</h2>
    </p>
     
    </article>
{% endblock %}