{% extends 'base.html.twig' %}

{% block body %}
    <article>

        <h2>I tygrys nosi...</h2>

        <p>
            I tygrys nosi różaniec, żeby uchodzić za dobrotliwego.
        </p>
    </article>

{% endblock %}
