{% extends 'base.html.twig' %}

{% block body %}
    <article>

        <h2>Jedzenie</h2>

        <p>
            Śniadanie zjedz sam, obiad z przyjacielem, kolację oddaj wrogowi
        </p>
    </article>

{% endblock %}
