{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h1>Reguła prosta...</h1>
    <p>
        Reguła prosta, że aż osłupia, kto się wymądrza, ten się wygłupia.
    </p>
</article>
{% endblock %}
