{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h1>Rozmawiając z głupcem...</h1>
    
    <p>
        Rozmawiając z głupcem godzinę, możesz zgłupieć na okrągły rok.
    </p>
</article>
{% endblock %}
