{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Stare wino...</h1>
        <p>
            Stare wino, żona młoda, niejednemu życia doda.
        </p>
    </article>
{% endblock %}
