{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Suchy marzec...</h1>
            <p>
                Suchy marzec, mokry maj, będzie żytko niby gaj.
            </p>
    </article>
{% endblock %}
